

/* Color Theme Swatches in Hex */
.Cake-2-1-hex { color: #F2668B; }
.Cake-2-2-hex { color: #F2BBC9; }
.Cake-2-3-hex { color: #FFF6CA; }
.Cake-2-4-hex { color: #FCD9B4; }
.Cake-2-5-hex { color: #F25E5E; }
